<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-size: cover;
                background-repeat: no-repeat;
                font-family: Arial, sans-serif;
                background-color: #f2f2f2;

            }
            h1 {
            text-align: center;
            color: #333;
            }
            h2 {
            color: #666;
            }
            table, th, td {
            border:1px solid black;
            }
            th {
            background-color: #f2f2f2;
            color: #333;
            }
            a {
            color: #007bff;
            text-decoration: none;
            }

        </style>
        <title>My Website</title>
        
    </head>

    <body>
        <h1>About</h1>

        <p>
            <b>This page will show the information about the selected data set.
            </b>
        </p>
        <h2> Data set is regarding a furniture retailer in The United States.</h2>
        <p>The dataset is taken from kaggle website.
            <a href="https://www.kaggle.com/datasets/zahraaalaatageldein/sales-for-furniture-store"> <b>Click here to go to the original reference.</b> </a>
        </p>
        <p>
            For a retail furniture store, predicting future sales is critical to avoiding inventory issues like overstocking or under-stocking. The challenge lies in utilizing time series data from the superstore dataset to forecast furniture sales for the next year accurately. This predictive insight ensures an optimal customer experience, avoids losses, and maintains store sustainability.
        </p>
        <p>The Original Author of the Dataset is: <b>Elzahra' Ala'</b></p>
        <br>
        <p><b>The detailed description of each variable of dataset are given below: </b>
        </p>
        <table style="width:100%">
            <tr>
                <th><b>Sr. No.</b></th>
                <th><b>Variable Name</b></th>
                <th><b>Description</b></th>
            </tr>
            <tr>
                <td>1.</td>
                <td>Row_ID</td>
                <td>Represents serial number of each entry. <b>Datatype:</b> INT</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Order_ID</td>
                <td>Unique ID for each order. <b>Datatype:</b> VARCHAR</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Order_Date</td>
                <td>Date on which a particlar order is placed. <b>Datatype:</b> DATE</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Customer_Name</td>
                <td>Name of the Customer who placed order. <b>Datatype:</b> VARCHAR</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Segment</td>
                <td>Which customer category the buyer belong to. <b>Datatype:</b> TEXT</td>
            </tr>
            <tr>
                <td>6.</td>
                <td>State</td>
                <td>From which state the Customer has placed order. <b>Datatype:</b> TEXT</td>
            </tr>
            <tr>
                <td>7.</td>
                <td>Postal_Code</td>
                <td>Area code of the buyer's address. <b>Datatype:</b> INT</td>
            </tr>
            <tr>
                <td>8.</td>
                <td>Sub_Category</td>
                <td>Sub Category or the ordered item. <b>Datatype:</b> VARCHAR</td>
            </tr>
            <tr>
                <td>9.</td>
                <td>Product_Name</td>
                <td>Name of the product ordered. <b>Datatype:</b> TEXT</td>
            </tr>
            <tr>
                <td>10.</td>
                <td>Sales</td>
                <td>Total Price of the product(s) purchased. <b>Datatype:</b> DECIMAL</td>
            </tr>
            <tr>
                <td>11.</td>
                <td>Quantity</td>
                <td>Quantity of the product ordered. <b>Datatype:</b> INT</td>
            </tr>
            <tr>
                <td>12.</td>
                <td>Discount</td>
                <td>Discount on total purchase. <b>Datatype:</b> DECIMAL</td>
            </tr>
            <tr>
                <td>13.</td>
                <td>Profit</td>
                <td>Profit earned on the purchase. <b>Datatype:</b> DECIMAL</td>
            </tr>
        </table>
    </body>
</html>